* {
    font-family: sans-serif;
    font-weight: bold;
    transition: all 0.5s;
}

:root {
    --w-and-h: 200px;
}

.allinform {
    display: none;
}

.keysform {
    margin-top: 10%;
    margin-right: auto;
    margin-left: auto;
    width: 400px;
    padding: 20px;
    border-radius: 35px;
    background-color: rgb(255, 210, 128);
    box-shadow: 0 0 10px rgb(146, 146, 146);
    color: white;
    justify-content: center;
    align-items: center;
}

.keysform.margtop {
    margin-top: 0%;
    transition: all 0s;
}

.circleofnum {
    position: relative;
    right: 95px;
    margin-left: auto;
    border-radius: 50%;
    border: 5px solid rgb(60, 255, 102);
    width: var(--w-and-h);
    height: var(--w-and-h);
}

.circleofnum .code {
    position: absolute;
    top: -20px;
    right: 28%;
    font-size: 500%;
    transition: all 0s;
}

.keysform .pressany {
    position: relative;
    right: 100px;
}

h3 {
    display: inline;
}

.details {
    margin-top: 70px;
    font-size: 18px;
}

.keynameh {
    position: relative;
    right: 120px;
}

.keyName {
    text-align: center;
    position: relative;
    top: 20px;
    right: 150px;
    width: 250px;
    word-wrap: break-word;
    font-size: 40px!important;
}

.keyCode {
    position: relative;
    bottom: 45px;
    width: 100px;
    text-align: center;
}

.key {
    font-size: 50px;
}

.show {
    height: 400px;
}

@media (max-width: 610px) {

    .keysform {
        width: 80%;
        text-align: center;
    }

    .pressany {
        width: 100%;
        right: 0px!important;
    }
}